html {
    font-family: "Times New Roman";
    font-weight: bold;
}
body{
    background-color: #555;
}
.main {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
div header{
    color: white;
}
h1, h2, h3{
    margin: 0;
    letter-spacing: -2px;
}
h2{
    opacity: 0.5;
}
h3{
    color: orange;
    font-size: 30px;
    letter-spacing: -3px;
    text-decoration: underline;
}
nav {
    background: rgb(255,129,0);
    background: linear-gradient(180deg, rgba(255,129,0,1) 41%, rgba(255,152,25,1) 100%);
    padding: 1px;
}
nav ul {
    font-family: "Candara";
    font-weight: 900;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}
nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
.box {
    background-color: white;
    display: flex;
}
dl dt{
    font-family: "Candara";
    font-weight: 900;
    color: #555555;
}
dl dd{
    color: orange;
}
#container{
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}